body {
  font-family: 'Georgia', serif;
  background-color: #f9f5ef;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container h1 {
  color: #5e412f;
  font-size: 3rem;
}

.container p {
  margin-top: 0.5rem;
  font-style: italic;
}

.container a {
  display: inline-block;
  margin: 1rem;
  text-decoration: none;
  color: #5e412f;
  border: 1px solid #5e412f;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.container a:hover {
  background-color: #5e412f;
  color: white;
}

.resume-container {
  margin-top: 2rem;
  width: 90%;
  max-width: 800px;
}

.intro-card {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  background-color: #fff8ec;
  padding: 2rem;
  border: 2px solid #e0c097;
  border-radius: 12px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.intro-card h1 {
  font-size: 2.8rem;
  color: #4a3f35;
  margin-bottom: 1rem;
}

.intro-card .highlight {
  color: #a0522d;
  font-weight: bold;
}

.intro-card p {
  font-size: 1.2rem;
  color: #5e4b3c;
  font-style: italic;
  margin-top: 0.5rem;
}

